/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../scss/_base.scss */
html {
  height: 100%;
  background: #20201F;
}

/* line 26, ../scss/_base.scss */
body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Times New Roman";
  background: #20201F;
}

/* line 34, ../scss/_base.scss */
.body-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 74px;
}

/* line 46, ../scss/_base.scss */
.border-corners {
  display: flex;
  flex-flow: column;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px #EFC316;
  border-style: solid;
  width: 100%;
  height: 100%;
}

/* line 58, ../scss/_base.scss */
.body-content {
  flex: 1;
  left: 150px;
  right: 150px;
  margin: 0 4%;
  max-height: 100%;
  overflow: auto;
}

/* line 68, ../scss/_base.scss */
#footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

/* line 75, ../scss/_base.scss */
.header-container {
  flex: 0 1 auto;
  width: 100%;
  height: 162px;
  z-index: 10;
  background: #20201F;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}

/* line 88, ../scss/_base.scss */
.header-logo {
  position: relative;
  margin-left: 50px;
  width: 11%;
  z-index: 1;
}

/* line 96, ../scss/_base.scss */
#echolarks-header-E {
  background: url('../images/Echolarks_E.png?1497127441');
  background-repeat: no-repeat;
  background-position: center left;
}

/* line 103, ../scss/_base.scss */
.header-menu {
  width: 100%;
  height: 74px;
}

/* line 108, ../scss/_base.scss */
.footer-container {
  display: flex;
  height: 74px;
}

/* line 113, ../scss/_base.scss */
.footer-menu-item {
  width: 33.33333%;
  margin-left: auto;
  margin-right: auto;
  width: 33.33333333%;
}
/* line 118, ../scss/_base.scss */
.footer-menu-item a {
  text-decoration: inherit;
  color: #B3B3B3;
}

/* line 125, ../scss/_base.scss */
.header-menu-item {
  width: 33.33333%;
  margin-left: auto;
  margin-right: auto;
  width: 33.33333333%;
}
/* line 130, ../scss/_base.scss */
.header-menu-item a {
  text-decoration: inherit;
  color: #B3B3B3;
}

/* line 137, ../scss/_base.scss */
.footer-menu {
  position: relative;
  display: flex;
  width: 66.66666667%;
  z-index: -1;
}

/* line 145, ../scss/_base.scss */
.hover-gold a {
  -webkit-transition: color .5s;
  /* For Safari 3.0 to 6.0 */
  transition: color .5s;
  /* For modern browsers */
}
/* line 150, ../scss/_base.scss */
.hover-gold a:hover {
  color: #EFC316;
  /* animation for menu item hover */
  -webkit-transition: color .5s;
  /* For Safari 3.0 to 6.0 */
  transition: color .5s;
  /* For modern browsers */
}

/* line 159, ../scss/_base.scss */
.header-menu {
  position: relative;
  display: flex;
  width: 66.66666667%;
  padding-top: 44px;
}

/* line 166, ../scss/_base.scss */
.footer-item {
  align-items: center;
  justify-content: center;
}

/* line 171, ../scss/_base.scss */
.item-left {
  text-align: right;
  width: 13.33333333%;
}

/* line 176, ../scss/_base.scss */
.item-center {
  text-align: center;
  width: 50%;
}

/* line 181, ../scss/_base.scss */
.item-right {
  text-align: left;
}

/* line 186, ../scss/_base.scss */
#footer-text {
  color: #B3B3B3;
  opacity: 1;
}

/* line 191, ../scss/_base.scss */
p {
  font-size: 12pt;
  color: #B3B3B3;
}

/* line 196, ../scss/_base.scss */
h1 {
  font-size: 18pt;
}

/* line 200, ../scss/_base.scss */
#header-text {
  color: #B3B3B3;
  opacity: 1;
}

/* line 207, ../scss/_base.scss */
#echolarks-footer-logo {
  background: url('../images/Echolarks_EP_Out_Now.png?1497127441');
  background-repeat: no-repeat;
  background-size: 450px;
  height: 74px;
  background-position: center left;
}

/* line 216, ../scss/_base.scss */
.footer-logo {
  position: relative;
  margin-left: 50px;
  width: 46.66666667%;
  z-index: 1;
}

/* line 226, ../scss/_base.scss */
.dropdown {
  position: relative;
  display: inline-block;
}

/* line 231, ../scss/_base.scss */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

/* line 238, ../scss/_base.scss */
.dropdown-content a {
  color: #B3B3B3;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  display: block;
}

/* line 246, ../scss/_base.scss */
.dropdown:hover .dropdown-content {
  display: block;
}
